In [1]:
import pandas as pd

## read fake feature importance 
The expected inputs are two feature importance dataframes to compare.   
It is assumed that the feature set between these two dataframes is exactly same.

In [2]:
feat_imp1 = pd.read_csv('data/feature_imp1.csv')
feat_imp2 = pd.read_csv('data/feature_imp2.csv')

In [3]:
feat_imp1.head()

  feat_name         imp
0    feat_0   13.343694
1    feat_1   15.800974
2    feat_2   21.084382
3    feat_3   48.516187
4    feat_4  113.182840

In [4]:
feat_imp2.head()

  feat_name         imp
0    feat_0   10.821621
1    feat_1   23.416350
2    feat_2   11.565690
3    feat_3   48.917148
4    feat_4  113.584959

## test feature drift graph
Here we assume that these two different feature importance results are from model trained on datasets from different snapshot months.  
- feat_imp1: feature importance from dataset 201802
- feat_imp2: feature importance from dataset 201803

In [5]:
import sys
sys.path.insert(0, 'src/')
import feature_drift_draw

In [6]:
feature_drift_draw.feature_drift_graph(feat_imp1=feat_imp1, feat_imp2=feat_imp2, feature_name='feat_name', imp_name='imp',
                                       ds_name1='201802', ds_name2='201803', graph_name='201802_201803',
                                       top_n=20, max_bar_width=300, bar_height=30, middle_gap=300, fontsize=12, color_dict=None)